<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lotte.otp.repository.UserConnectionQueueMapper">

    <select id="getUserConnection" resultType="com.lotte.otp.domain.UserConnection">
        SELECT qid, id, temp_key, published_at
        FROM USER_CONNECTION_QUEUE
        WHERE id=#{id}
    </select>

    <delete id="deleteTempKey">
        DELETE FROM USER_CONNECTION_QUEUE WHERE id=#{id};
    </delete>

    <insert id="insertTempKey">
        INSERT INTO USER_CONNECTION_QUEUE(id, temp_key, published_at)
        VALUES (#{id}, #{temp_key}, #{published_at})
    </insert>

</mapper>