<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lotte.otp.repository.UserMapper">

    <insert id="insertConnectionHistory">
        INSERT INTO
        USER_IP (uuid, ip, os, browser, accessed_at, success)
        VALUES (#{user_ip.uuid}, #{user_ip.ip}, #{user_ip.os},
         #{user_ip.browser}, #{user_ip.accessed_at}, #{user_ip.success})
    </insert>

    <!-- 최근 3개 접속 이력 조회 -->
    <select id="getConnectionHistory" resultType="hashmap">
        SELECT i.*
        FROM USER_IP AS i JOIN USER_2ND_AUTH AS a
        ON i.uuid = a.uuid
        WHERE a.kakao_user_key=#{kakao_user_key}
        ORDER BY i.accessed_at DESC
        LIMIT 3
    </select>

    <!-- 모든 접속 이력 조회(최신순 정렬) -->
    <select id="getAllConnectionHistory" resultType="hashmap">
        SELECT i.*
        FROM USER_IP AS i JOIN USER_2ND_AUTH AS a
        ON i.uuid = a.uuid
        WHERE a.kakao_user_key=#{kakao_user_key}
        ORDER BY i.accessed_at DESC
    </select>

</mapper>